.bsb.lock
.DS_Store
.idea
.merlin
.vscode
_build
**/*.bs.js
/lib
/node_modules
/tablecloth-native.install
/integration-test/native/_build
/integration-test/bs/node_modules
/integration-test/bs/lib/

fsharp/src/obj
fsharp/src/bin
.paket/paket.bootstrapper.exe
.paket/paket.exe
paket-files/
