.bsb.lock
.DS_Store
.idea
.merlin
.vscode
_build
**/*.bs.js
/lib
/node_modules
/tablecloth-native.install
/integration-test/native/_build
/integration-test/bs/node_modules
/integration-test/bs/lib/
/ocamldoc-json-generator/lib/
/ocamldoc-json-generator/node_modules/
/ocamldoc-json-generator/_rescript/*.ml
/ocamldoc-json-generator/_rescript/*.mli